.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.text-right {
  text-align: right;
}

.fighter-preview___root {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 250px;
  max-height: 400px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  position: relative;
  z-index: 1;
  max-height: 400px;
  width: auto;
}

.fighter-preview___right .fighter-preview___img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fighter-preview_wrapper {
  position: absolute;
  bottom: -94px;
}

.fighter-preview_wrapper___left {
  left: -90px;
}

.fighter-preview_wrapper___right {
  right: -90px;
}

.fighter-preview__details {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.fighter-preview__name,
.details__item {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;

  color: #820000;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview__name {
  padding: 0.15em 1em;
  font-size: 54px;
}

.details__item {
  display: flex;
  margin: 0 0 0.20em;
  padding: 0.2em 0.4em;
}

.details__item p {
  align-items: center;
  width: 24px;
  margin: 0.1em 0.5em;

  line-height: 28px;
  font-weight: bold;
}

.details__item img {
  width: 30px;
  height: 30px;
}

.fighter-attack-right,
.fighter-attack-left {
  position: absolute;
  bottom: 10px;

  animation-delay: 1000ms;
}

.fighter-attack-right {
  animation: moveToRight 3s ease-in-out;
}

.fighter-attack-left {
  animation: moveToLeft 3s ease-in-out;
}

@keyframes moveToRight {
  0% {
    right: 310px;
  }
  100% {
    right: 750px;
  }
}

@keyframes moveToLeft {
  0% {
    left: 310px;
  }
  100% {
    left: 750px;
  }
}